<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="../../../bootstrap-3.3.7-dist/css/bootstrap.min.css"
      <meta
      charset="UTF-8"
    />
    <link rel="stylesheet" href="/../../../../static/css/index.css" />
    <title>Index</title>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="contatiner">
        <a class="navbar-brand" href="#">Film Finder</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <form action="/search/" method="get">
          <input
            class="search-input-box"
            type="search"
            name="search"
            placeholder="Search the movie"
          />
          <input class="search-submit" type="submit" value="search" />
        </form>

        <ul style="padding-left: 50px" class="nav navbar-nav">
          <li><a href="/register/">SIGN UP</a></li>
          <li><a href="/login/">LOG IN</a></li>
            <li><a href="/logout/">LOG OUT</a></li>
        </ul>
      </div>
    </nav>
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
{#    <h1>{{ request.session.name }} Welcome Back!</h1>#}
    <div class="row">
      <div class="column">
        <img src="/../../../../static/images/index/img_0.jpg" />
        <img src="/../../../../static/images/index/img_4.jpg" />
      </div>

      <div class="column">
        <img src="/../../../../static/images/index/img_1.jpg" />
        <img src="/../../../../static/images/index/img_5.jpeg" />
      </div>

      <div class="column">
        <img src="/../../../../static/images/index/img_2.jpg" />
        <img src="/../../../../static/images/index/img_6.jpg" />
      </div>

      <div class="column">
        <img src="/../../../../static/images/index/img_3.jpg" />
        <img src="/../../../../static/images/index/img_7.jpg" />
        <img src="/../../../../static/images/index/img_8.jpg" />
      </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
