<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LOGIN</title>
  </head>

  <body>
    <div style="height: 100px">
      <img class="header_img" src="/static/images/login/unsw.png" alt="FilmFinder" />
      <h1>FilmFinder</h1>
    </div>
    <main>
      <div class="left">
        <img src="/static/images/login/UNSW_LOGIN.jpg"/>
      </div>

      <div class="right">
        <p id = "Invalidusername" class="t1"> Invalid username <br />E.G. xxxx@xxxx.xxx</p>
        <p id = "Invalidpassword" class="t2"> Invalid password <br />The minimum length is 6</p>
        <div class="container">
          <form name="login_account" action="" method="get">
            <input
                class="input_box"
                placeholder="UserName"
                type="text"
                name="name"
                id="username"
              />
            </p>
            <div>
              <input
                class="input_box"
                placeholder="Password"
                type="password"
                name="password"
                id="password"
              />
            </div>
            <button class="login" disabled="disabled" id="login">login</button>
          </form>
        </div>
        <p>
          Don't have an account?
          <a href="register.html" style="margin-left: 10px">Register</a>
        </p>
      </div>
    </main>
    <script src="/static/js/login.js"></script>
  </body>
</html>
