<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>

    <div style="margin: 15% 40%;">
        <h1>Welcome to login page!</h1>
       <form class="form-login" action="/login/" method="post">
           {% csrf_token %}
           {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
           {% endif %}
           {{ login_form }}
            <p>
                <label for="id_username">username:</label>
                <input type="text" id="id_username" name="username" placeholder="username" autofocus required />
            </p>
            <p>
                <label for="id_password">password:</label>
                <input type="password" id="id_password" placeholder="password" name="password" required >
            </p>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>